.city-container {
  padding: 30px 20px;
  text-align: center;
  background-color: #f4f7f6;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.city-container h2 {
  font-size: 2.2em;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}


.city-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.city-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.city-photo {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.city-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}


.city-name {
  font-size: 1.7em;
  font-weight: 600;
  color: #333;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.city-card:hover .city-name {
  color: #007bff;
}


.city-country {
  font-size: 1.3em;
  color: #777;
  margin-top: 5px;
  font-style: italic;
}


.city-description {
  font-size: 1.1em;
  color: #555;
  margin-top: 15px;
  line-height: 1.5;
  max-height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.city-card .read-more {
  font-size: 1em;
  font-weight: 500;
  color: #007bff;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: color 0.3s ease;
}

.city-card .read-more:hover {
  color: #0056b3;
}

/* Popup */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
  max-width: 90%;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in-out;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.popup h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.popup p {
  font-size: 1em;
  margin-bottom: 20px;
  color: #666;
}


.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.popup-close:hover {
  color: #e63946;
}

.view-toggle-button {
  background: none;
  border: none;
  color: #007bff;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 10px;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.view-toggle-button:hover {
  color: #0056b3;
}
